* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 :root {
    --letter-color:#FFF;
    --color-background:#5f58588e;
    --blue-clor:#1260a8;
 }

 header {
    min-height: 10vh ;
    background-color: var(--color-background);
    width:100vw;
 }