* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Tagesschrift", system-ui;
    font-style: normal;
    font-weight: 100;
}
html {
    scroll-behavior: smooth;
}
 :root {
    --letter-color:#FFF;
    --color-background:#2c2020fb;
    --blue-clor:#1260a8;
 }

 header {
    min-height: 10vh ;
    /* background-color: var(--color-background); */
    width:100vw;
}
header ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
ul > li {
    list-style: none;
    margin: 2.25rem 4.25rem;

}
li >a {
    text-decoration: none;
    font-size: 1.22rem;
    color: rgb(177, 161, 90);
    letter-spacing: 0.25rem;
}
a:hover {
    color: rgb(53, 54, 54);
}
#roda-pe {
    background-image:url(img/leao.jpg);
    background-position:cover;
    min-height:100vh;
    color:var(--letter-color);
}
#roda-pe h1{
    text-align: center;
    padding:15rem 65rem 0 0;
    letter-spacing: 0.8rem;
    color: rgb(177, 161, 90);
}
#roda-pe p {
    text-align: center;
    padding: 2rem 65rem 0 0;
    letter-spacing: 0.5rem;
    color: rgb(177, 161, 90);
}
#hero ul {
    display:flex;
}
#hero ul img {
    width: 25vw;
    height: 50vh;
    object-fit:cover;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 2px 12px 22px 1px rgba(0, 0, 0, 0.7);
    transform: rotate(3deg);
}
h3 {
    text-align: center;
    margin: 7rem 0 9rem 0;
    font-size: 3rem;
    letter-spacing: 0.8;
}
#hero ul h4 {
    text-align: center;
    font-size: 2.1rem;
}
#hero ul p {
    text-align:left;
}
#hero2 ul {
    display:flex;
}
#hero2 ul img {
    width: 25vw;
    height: 50vh;
    object-fit:cover;
    margin-top: 13rem;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 2px 12px 22px 1px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}
#hero2 ul h4 {
    text-align: center;
    font-size: 2.1rem;
}
