* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Tagesschrift", system-ui;
    font-style: normal;
}
 :root {
    --letter-color:#FFF;
    --color-background:#2c2020fb;
    --blue-clor:#1260a8;
 }

 header {
    min-height: 10vh ;
    background-color: var(--color-background);
    width:100vw;
}
header ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
ul > li {
    list-style: none;
    margin: 2.25rem 4.25rem;
    font-weight: 700;
}
li >a {
    text-decoration: none;
    font-size: 1.22rem;
    color:var(--letter-color);
    letter-spacing: 0.25rem;
}
#roda-pe {
    background-image:url(img/leao.jpg);
    background-position:cover;
    min-height:90vh;
    color:var(--letter-color);
}
#roda-pe h1{
    text-align: center;
    padding-top:20rem;
    letter-spacing: 1.22rem;
    color: rgb(8, 173, 250);
}
#roda-pe p {
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 1.22rem;
}